@charset "UTF-8";

.container-fluid{
    background-color: #683F99;
}
.navbar-brand {
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
}

.navbar-brand{
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-optical-sizing: auto;
  font-weight: <weight>;
    font-style: normal;
}

.nav-link {font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-optical-sizing: auto;
  font-weight: <weight>;
    font-style: normal;}

.nav-link.active {
    color: #FFFFFF;