@charset "UTF-8";

.mybgcell1 {
    background-color: #E4BEBE;
}

.mybgcell2 {
    background-color: #AB6162;
}

.mybgcell3 {
    background-color: #ACBDEB;
}


.mybgcell4{
    background-color: #9EAFBE;
}


